html{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

@media(min-width: 410px){
  html{
    font-size: 18px;
  }
}

body{
  margin: 0;
  background-color: #133b5c;
}

/* a{
  color: #ffffff;
}

a:hover{
  color: #1e5f74;
}


.navbar{
  padding-left: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  height: 4rem;
  background-color: #1d2d50;
  color: #fcdab7;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.menu-item1{
  margin-right: 5rem;
} */



input{
  display: block;
  margin : 0 auto;
  width: 80%;
  padding: 0.5rem;
  border: none;
  border-radius: 1.5rem;
  color: #000000;
  background-color: rgba(221, 219, 219, 0.76);
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 6px 14px #03182c;
}

input:focus{
  outline: none;
}

@media(min-width: 640px){
  input{
      width: 40%;
  }
}

input:focus{
  background-color: #fdfdfd;
}


.list{
  margin: 1rem;
}

.detailblock{
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.151);
  margin-bottom: 1.5rem;
  border-radius: 10px;
  border-top: 3px solid rgba(255, 255, 255, 0.836) ;
  border-bottom: 3px solid rgba(255, 255, 255, 0.836);

  display: flex;
  flex-direction: column;
}

@media(min-width:675px){
  .detailblock{
    flex-direction: row;
  }
  .content{
    margin: 2rem;
  }
}


#poster{
  /* background-color: white; */
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#posterimage{
  border-radius: 5%;
  width: 14rem;
  box-shadow: 0px 6px 14px #02182c;
}

#title{
  /* text-decoration: underline; */
  margin-bottom: 0rem;
  color: rgb(245, 252, 146);
}

#overview{
  color: rgb(245, 202, 202);
  font-size: 1rem;
  margin-bottom: 1rem;
}

#rating{
  color: white;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

#releasedate{
  color: white;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

#lang{
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgb(191, 248, 121);
}

#knowmore{
  padding: 0.3rem;
  background-color: rgba(231, 229, 229, 0.329);
  box-shadow: 0px 6px 14px #03182c;
  border-radius: 0.6rem;
  color: rgb(237, 255, 73);
}

#searchfor{
  text-align: center;
  /* margin: 2rem;
  margin-top: 15rem; */
  padding: 0.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 2rem;
  box-shadow: 0px 6px 14px #03182c;
  display: block;
  margin : 0 auto;
  width: 80%;
}

@media(min-width: 640px){
  #searchfor{
      width: 40%;
  }
}

#notfound{
  text-align: center;
  margin: 2rem;
  margin-top: 15rem;
  padding: 0.5rem;
  color: white;
  background-color: rgba(250, 37, 37, 0.404);
  border-radius: 2rem;
  box-shadow: 0px 6px 14px #03182c;
}